.box {
    position: absolute; /* you can use relative depending on if this class is within another parent class*/
    left: 50%;
    top: 50%;
    transform: perspective(1px) translateX(-50%) translateY(-50%);
}

.box-color {
    padding: 10px;
    background-color: #50FA83;
    border-radius: 3px;
}

